<!DOCTYPE html>
<html>
  <p>
  部屋一覧
  </p>

    <head>
        <meta charset="utf-8"/>

        <link rel="stylesheet" type="text/css" href="assets/rooms.scss">
</style>
</head>
<body>
<div class="img_area">
<img src="/homu.png" width="35%"　height="35%">
      <div class="logo_area" style="position:absolute; top: 0.5px; left:10px"> 
                    <img src="/logo.png" width="15%"　height="15%" >
                </div>
                </body>
<div>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to "ROOM#{room.id}", room_path(room) %></li>
    <% end %>
  </ul>

</div>
  </div>
</font>

</html>
  <li><%= button_to 'sign_out', destroy_user_session_path, method: :delete %></li>

