<div>
  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to "ROOM#{room.id}", room_path(room) %></li>
    <% end %>
  </ul>
</div>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        
        <link rel="styleshhet" href=/stylesheets/index.css">
        <style type="text/css">
</style>
</head>
<body>
  <%= image_tag '/homu1.jpg' %>
 </body>
  <h1>
  部屋一覧
  </h1>
  
</html>